NODE_ENV=development
VERSION=1.00
PORT=8033


ERP_URL = http://101.255.156.114:3001/
JWSECRET=mS9B!l1in&IHu6SxVhy

DB_USER=erpcahaya
DB_PASSWORD=erpcahaya123
DB_HOST=101.255.156.114
DB_DIALECT=postgres
DB_SCEM=erpcahaya

# email config
EMAIL_USER=erp.cahayamascemerlang@gmail.com
EMAIL_PASS='pxcw nyyp aosb fpxl'

# host: 101.255.156.114
# database: erpcahaya
# username: erpcahaya
# password: erpcahaya123